*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #89cff0, #e6e6fa);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    width: 350px;
}

.title{
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
}

.weather-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.city-input{
    padding: 10px;
    width: 180px;
    border-radius: 8px;
    border: 2px solid #555;
    font-size: 1rem;
}

button{
    padding: 10px 15px;
    font-size: 1rem;
    background: #5c67f2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #4d56d9;
}

.weather-card{
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.city{
    font-size: 2rem;
    font-weight: bold;
}

.temp{
    font-size: 2.5rem;
    font-weight: 700;
}

.desc{
    font-size: 1.2rem;
    font-style: italic;
}

.data{
    font-size: 1rem;
    color: #444;
}

.emoji{
    font-size: 4rem;
}

.error{
    color: red;
    font-weight: 600;
}

.loader{
    display: none;
    margin: 10px auto;
    border: 4px solid #ddd;
    border-top: 4px solid #5c67f2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin{
    100%{transform: rotate(360deg);}
}
